<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Mevcut URL'yi kontrol et
    const currentURL = window.location.href;
    
    // URL sonu slash ile bitiyorsa
    if (currentURL.endsWith('/') && currentURL.length > 1) {
      // Sondaki slash'ı kaldır
      const cleanURL = currentURL.slice(0, -1);
      
      // Yeni URL'ye yönlendir
      window.history.replaceState({}, document.title, cleanURL);
      console.log('URL temizlendi: ' + cleanURL);
    }
  });
</script>

<meta property="og:type" content="article">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | truncate: 160 }}">
<meta property="og:image" content="{{ site.url }}/img/SonsuzFX.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:title" content="{{ page.title | default: site.title }}">
<meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | truncate: 160 }}">
<meta name="twitter:image" content="{{ site.url }}/img/SonsuzFX.jpg">